body {
	margin-top: 100px;
	background-color: #777;
}

h1 {
	margin-bottom: 1em;
	font-weight: bold;
}

h2 {
	font-weight: bold;
	color: cyan;
}

h4 {
	font-weight: bold;
}

img {
	border-radius: 5px;
}

.wit {
	font-size: 15px;;
}

#marginaccordion {
	margin-bottom: 3em;
}

.panel-default > .panel-heading {
    background-color: cyan;
}